html {
    font-family: 'Arial', 'Verdana', sans-serif;
    margin-inline: 7vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

.main-nav a {
    margin: 20px;
    text-decoration: none;
    color: #1f1e1e;
}


button{
    width: 10rem;
    height: 3rem;
    border: 5;
    border-radius: 0.7rem;
    border-color: #0c0c0d;
    Background: none;
    font-size: 0.93em;
}

p {
    display: inline-block;
    font-size: 1.6rem;
    
}

.site-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11.5rem
}

.welcome-block {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.welcome.text {
    width: 28vw;
    font-size: 2rem;
}

.welcome.bac {
    margin-top: 4vh;
    width: 20rem;
    height: 4.5rem;
    border: 5;
    border-radius: 0.7rem;
    border-color: none;
    Background: #0c0c0d;
    font-size: 0.6em;
    color: #ffff;
}

.partners {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5vh;
    align-items: center;
    height: 2em;
    width: auto;

}

