
* {
    box-sizing:border-box;
    font-family: "Space Grotesk", sans-serif;
}

html { 
    margin-inline: 8vw;
    color: #1f1e1e;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

.main-nav a {
    margin: 20px;
    text-decoration: none;
    color: #1f1e1e;
}


.RAQ{
    width: 10rem;
    height: 3rem;
    border: 5;
    border-radius: 0.7rem;
    border-color: #0c0c0d;
    Background: none;
    font-size: 0.93em;
}

p {
    display: inline-block;
    font-size: 1.6rem;
    
}

.site-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11.5rem
}

.welcome-block {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.welcome.text {
    width: 28vw;
    font-size: 2rem;
}

.welcome.bac {
    margin-top: 4vh;
    width: 20rem;
    height: 4.5rem;
    border-radius: 0.7rem;
    Background: #0c0c0d;
    font-size: 0.6em;
    color: #ffff;
}

.partners {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 7vh;
    align-items: center;
    height: 2em;
}

.all-services {
    display: flex;
    justify-content: flex-start;
    /* gap: 10px; */
    padding: 10px;
    margin-left: 1em;
    /* flex-direction: column; */
}

.services1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.services1 h2 {
    font-size: 2.2em;
    display: inline-block;
    background-color: #96f75e;
    text-align: center;
    border-radius: 0.3rem;
    height: min-content;
    width: min-content;

}


.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
    gap: 30px; 
    padding: 40px;
    /*max-width: 1400px;*/

    justify-content: stretch;
}
.categories button {
    height: 400px;
    border-radius:45px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    border-bottom-width: 6px;
}

.catimg {
    position: relative;
    align-self: center;
    left: 50px;
    bottom: 40px;
}

.categories h2 {
    font-size: 26px;
    font-weight: 500;
    color: #000000;
    margin-top: 1px;
    width: 200px;
}

.categories a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #0c0c0d;
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 16px;
}

.wh h2 {
    display: inline-block;
    background-color: #96f75e;
    text-align: center;
    border-radius: 15px;
    width: 200px;
}

.bl {
    background-color: #0e0e0f;
    color: #ffff;
}

.bl h2 {
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

.bl a {
    color: #ffff;
}

.gr {
    background-color: #96f75e;
}

 .gr h2 {
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

.a-section {
    display: flex;
    background-color: #e9e9e9;
    padding: 40px 70px;
    border-radius: 40px;
    margin: 60px;
    height: 500px;
    max-width: 1510px;
    margin-top: 140px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.a-content {
    max-width: 550px;
}

.a-section h2 {
    font-size: 30px;
}

.a-button {
    margin-top: 4vh;
    width: 20rem;
    height: 4.5rem;
    border-radius: 0.7rem;
    Background: #0c0c0d;
    font-size: 1.4em;
    color: #ffff;
}

 .conimg {
    width: 700px;
    height: auto;
 }

 .cs {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-left: 1em;
 }

 .stu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
 }

 .stu h2 {
    font-size: 2.2em;
    display: inline-block;
    background-color: #96f75e;
    text-align: center;
    border-radius: 0.3rem;
    height: min-content;
 
    
 }


/* .cases-section {
    display: flex;
    background-color: #1f1e1e;
    padding: 40px 70px;
    border-radius: 40px;
    margin: 60px;
    height: 20em;
    max-width: 1510px;
    margin-top: 140px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
} */

.cases-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: #1f1e1e;
    padding: 40px 70px;
    border-radius: 40px;
    margin: 60px;
    height: 20em;
    max-width: 1510px;
    margin-top: 140px;
    
}

.cases {
    gap: 0px;
    border-right: 1px solid #e0e0e0;
    
}

.cases p {
    color: #e9e9e9;
}

.cases a {
    font-size: 1.3em;
    color: #96f75e;
    text-decoration: none;
    margin-left: 2em;
    
}

.cases p {
    font-size: 1.4em;
    margin-left: 2em;
}

.cases:last-child {
    border-right: none;
}

 .owp {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-left: 1em;
 }

 .our {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
 }

 .our h2 {
    font-size: 2.2em;
    display: inline-block;
    background-color: #96f75e;
    text-align: center;
    border-radius: 0.3rem;
    height: min-content;
 
 }

.process-section {
    padding: 80px 40px;
    max-width: 200em;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 40px 0;
    background-color: #96f75e;

}